__pycache__
.vscode
datasets
experiments
wandb
*.log
my_conf
*.backup
outputs
.ipynb_checkpoints
core-rg-*
.env
conf/encoding_conf
*.code-workspace
notebooks/**/*.mp4
notebooks/**/*.png
notebooks/**/*.pt
notebooks/playground.ipynb
*_outputs/
*.egg-info
*.egg
pytorch_traces
*.html
*.png
*.pt
*.json
src
.envrc
notebooks/tmp_downloaded_eval_values
*.pkl
*.mkv
*.gif
*.apng

ordering_datasets
notebooks/ordering_dataset_tests
.github/copilot-instructions.md
