repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: debug-statements

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.4
  hooks:
  - id: gitleaks

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.9
  hooks:
  # Run the linter, fixing issues and sorting imports
  - id: ruff
    types_or: [python, pyi, jupyter]
    args: ["--extend-select", "I", "--fix"]
  # Run the formatter
  - id: ruff-format
    types_or: [python, pyi, jupyter]

# TODO: use pyright/mypy/pyre-check instead
- repo: local
  hooks:
  - id: pylint
    name: pylint (errors only)
    entry: pylint
    language: system
    types: [python]
    args: ["-E", "--generated-members", "'cv2.*'"]

- repo: local
  hooks:
  - id: check-micromamba-env
    name: check-micromamba-env
    entry: ./check_micromamba_env.zsh
    language: script
    pass_filenames: false
